<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% seo %}
		{% if site.favicon %}
			<link rel="icon" href="{{ site.favicon | relative_url }}" sizes="any" type="image/svg+xml">
		{% endif %}
		<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
	</head>
	<body>
		<div class="left-sidebar-grid">
			<header class="header">
			</header>
			<nav class="left-sidebar">
				<h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
				{% if site.logo %}
					<img src="{{ site.logo | relative_url }}" alt="MELIS PhD Association logo." />
				{% endif %}
				<p>{{ site.description | default: site.github.project_tagline }}</p>
				<div class="announcements">
					<h2>📢 Announcements</h2>
					<p>Website is up and running! 🎉</p>
				</div>
				<br>
				<p><a href="training.html">Training committee</a></p>
				<p><a href="social.html">Social committee</a></p>
				<p><a href="wellbeing.html">Wellbeing/Student care committee</a></p>
				<p><a href="welcome.html">Welcome week committee</a></p>
				<p><a href="seminars.html">Seminars organization committee</a></p>
			</nav>
			<main class="main-content">
				{{ content }}
			</main>
			<footer class="footer">
				<p><small>Hosted on GitHub Pages &mdash; Based on a theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
			</footer>
		</div>
	</body>
</html>
