<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% seo %}
		{% if site.favicon %}
			<link rel="icon" href="{{ site.favicon | relative_url }}" sizes="any" type="image/svg+xml">
		{% endif %}
		<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
	</head>
	<body>
		<div class="left-sidebar-grid">
			<header class="header">
			</header>
			<div class="left-sidebar">
				<div class="page-title">
					<a href="{{ "/" | absolute_url }}">
					{% if site.logo %}
						<img class="logo" src="{{ site.logo | relative_url }}" alt="MELIS PhD Association logo." />
					{% else %}
						<h1 class="title">{{ site.title | default: site.github.repository_name }}</a></h1-->
					{% endif %}
					</a>
					<!--p>{{ site.description | default: site.github.project_tagline }}</p-->
				</div>
				<div>
					<div class="announcements">
						<h2>📢 Announcements</h2>
						{% for announcement in site.announcements %}
							{{ announcement | markdownify }}
						{% endfor %}
					</div>
					<br>
					<nav class="committees">
						{% for committee in site.data.committees %}
							<p><a href="{{ committee.file | replace: ".md", ".html" | relative_url }}">{{ committee.name }}</a></p>
						{% endfor %}
					</nav>
				</div>
			</div>
			<main class="main-content">
				{{ content }}
			</main>
			<footer class="footer">
				<p><small>Hosted on GitHub Pages &mdash; Based on a theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
			</footer>
		</div>
	</body>
</html>
